/* LAYOUT */
/** *  GENERAL LAYOUT STYLES  * */

html { 
	height: 100%; 
	
}

body {
background:#fff;
position: relative;
height: 100%;
width: 100%;

}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

/**  FOOTER STYLES  
#footer {

    height:69px;
    position: relative; 
    width: 100%;
   
    clear: both;

}
**/

#wrapper {
	position: relative; 
	width: 1028px; 
	margin: 0 auto; 
	padding: 0;
	display: block; 
	height: auto; 
}


.img-hover { position: relative; }
.img-hover .hover, .img-hover .unhover  {
	position: absolute; top: 0; left: 0; z-index: 1; cursor: pointer;	
}
.img-hover .hover{ display: none; z-index: 10;  }
.img-hover .unhover { display: block; z-index: 7; }


#float-wrap { position: relative; }

.sidebar-div {
	position: relative; 
	float: left; 
	width: 203px;
	height: auto;
	height: 100%;
	
	font-size: 15px;
	line-height: 1.7em;
	color: #525252;
	cursor: pointer;
	
	background: url('../images/sidebar-bg.jpg') #fff;
	
}
	.sidebar-menu-div .sidebar-count{
		color: #fff;
		
		position: absolute;
		right: 8px;
		top: 5px; 
		font-size: 16px;
		font-family: 'oswald', 'arial';
	}
	.sidebar-div .sidebar-top { position:relative; }	
	.sidebar-div .sidebar-content-div{
		position: relative;
		display: block;
		/*background: url('../images/sidebar-bg.jpg') #fff;*/
	}
	
	.sidebar-div .sidebar-content-div .sidebar-content {
		position: relative; 
		margin-left: 26px; 
		padding: 0;
		padding-bottom: 50px;
	}
	.sidebar-div .title { font-size: 1.2em;}
	
	.sidebar-div .sidebar-main-menu-list {
		list-style: none; 
		padding: 0;
		margin: 0; 
		margin-top: 20px;		
	}
	
	.sidebar-main-menu-list > li{
		padding: 0;
		margin: 0; 
		margin-bottom: 10px;
		border-top: 1px solid #adaeae;
		border-bottom: 1px solid #adaeae;
		background: url('../images/sidebar-menu-gray.jpg') repeat-y top right;
	}
	
	.sidebar-main-menu-list li.current {
		border-top: 1px solid #e78c97;
		border-bottom: 1px solid #e78c97;
		background: url('../images/sidebar-menu-red.jpg') repeat-y top right;
	}
		
		.sidebar-main-menu-list li .sidebar-menu-div {
			position: relative;
			padding: 8px 34px 8px 8px;						
		}
		
			.sidebar-menu-div .title { font-size: 17px; font-transform: uppercase;}
	
	.sidebar-menu-div .sidebar-menu-list {
		border: none;
		list-style: none; 
		padding: 0 0 0 20px;
		margin: 10px 0;
	}
		.sidebar-menu-div .sidebar-menu-list li,
		.sidebar-menu-div .sidebar-menu-list li a,
		.sidebar-menu-div .sidebar-menu-list li a:link,
		.sidebar-menu-div .sidebar-menu-list li a:visited		
		{
			border: none;
			font-family: 'ptsans', 'verdana', 'arial';
			color: #525252;
			background: none; 
			text-decoration: none;
		}
		.sidebar-menu-div .sidebar-menu-list li a:hover,
		.sidebar-menu-div .sidebar-menu-list li a:active {
			text-decoration: underline;
		}
		.sidebar-menu-div .sidebar-menu-list li.current a{
			font-weight: bold;
		}
	
.header-content-div {
	position: relative;
	float: right; 
	width: 782px; 
	height: auto;
	
		
}
	.header-content-div .header { position: relative; height: 55px; margin: 15px 0 15px 0; }	
	
	.header .header-logo {
		float: left; 
	}
		.header .header-menu-list{
			list-style: none; 
			position: relative;
			padding: 0;
			margin: 0;
			width: 418px;
			height: 55px; 
			float: right;
			
		}
		
		.header .header-menu-list li { 
			float: right; 
			padding: 0;
			margin: 0;
			height: auto;
			background: #f3f4f4;
			color: #b2b3b3;
			font-family: 'oswald', 'verdana','arial';
			text-transform: uppercase;
			font-size: 14px;
			text-align: center;
			border-bottom: 4px solid #f3f4f4;
			margin-right: 2px;
			cursor: pointer;
		}
		
		.header .header-menu-list li.current,
		.header .header-menu-list li:hover {
			background: #e6001d;
			color: #fff;
			border-bottom: 4px solid #e6001d;
		
		}
		
		.header .header-menu-list li div { 
			position: relative;
			display: block;			
			padding-top: 12px;
			width: 135px;
			height: 36px; 
			border-bottom: 4px solid #fff;
		}
		.header .header-menu-list li a,
		.header .header-menu-list li a:link,
		.header .header-menu-list li a:visited,
		.header .header-menu-list li a:hover,
		.header .header-menu-list li a:active
		{
			color: #b2b3b3;
			font-family: 'oswald', 'verdana','arial';
			text-transform: uppercase;
			font-size: 14px;
			text-align: center;
			text-decoration: none;
		}
		
		.header .header-menu-list li.current a,
		.header .header-menu-list li:hover a {
			color: #fff;
		}
		
		
	#content .top-images { position: relative; height: 440px;}
	.top-images .top-img { 		
		height: 440px;
		position: absolute; 
		top: 0;
		left: 0;
		z-index:8;
		
	}
	.top-images .active {  z-index:10; }
	.top-images .last-active{   z-index:9; }
	.top-img img.img-banner { z-index: 1; }
	
	.top-images .top-img .left-panel {
		background: url(../images/white-bg.png) repeat;
		position: absolute;
		width: 239px;
		left: 0;
		top:0;
		height: 100%;
		z-index: 10;
	}
		
		.top-images .banner-left {
			position: absolute;
			top: 45%; 
			left: -15px;
			cursor: pointer;
			z-index: 40;
			width: 26px;
			height: 68px;
		}
		.top-images .banner-right {
			position: absolute;
			top: 45%; 
			right: -15px;
			cursor: pointer;
			z-index: 40;
			width: 26px;
			height: 68px;
		}
		.left-panel .large-text1 {
			font-family: 'oswald', 'verdana', 'arial';
			font-size: 32px; 
			text-transform: uppercase;
			
			
			position: absolute;
			top: 30px; 
			left: 20px;
		}
		
		.left-panel .large-text2 {
			position: absolute;
			bottom: 100px; 
			left: 20px;
			
			font-family: 'rbno2', 'verdana', 'arial';
			font-size: 27px; 
			text-transform: uppercase;
			font-style: italic;
		}
		
		.left-panel .learn-more {
			padding: 4px 9px; 
			background: #e6001d;
			font-family: 'oswald', 'verdana', 'arial';
			font-size: 15px; 
			text-transform: uppercase;
			color: #fff;
			width: auto;
			
			position: absolute;
			bottom: 31px; 
			right: -13px;
			
		}
			.left-panel .learn-more a, 
			.left-panel .learn-more a:link,
			.left-panel .learn-more a:visited,
			.left-panel .learn-more a:active {
				color: #fff;
				text-decoration: none;
			}
			
	 .indicator-div { 
		height: 3px;
		width: 782px; 
		position: relative; 
		margin: 10px 0; 		
		background: #ccc
	}	
		.indicator-div .indicator {
			position: absolute;
			background: #555; 
			height: 3px; 
			width: 0px;/*782px*/ 
			z-index: 2;
		}
		
		.indicator-div .red-indicator {
			position: absolute;
			background: #e6001d; 
			height: 3px; 
			width: 0px;/*782px*/ 
			z-index: 1;
		}

	.banner-tab-list { list-style: none; padding: 0; margin: 0; height: 78px;}
	.banner-tab-list  li { 
		width: 193px; 
		height: 78px; 
		position: relative;
		margin-left: 2px; 
		cursor: pointer;
		float: left; 
	}
		.banner-tab-list  li .name {
			font-family: 'rbno2', 'verdana', 'arial';
			font-size: 23px; 
			text-transform: uppercase;
			position: absolute;
			top: 27px;
			z-index: 20;
			text-align:center;
			width: 100%;
		}
		.banner-tab-list li .overlay{
			display: none; 
			position: absolute; 
			top: 0;
			left: 0; 
			width: 100%;
			height: 100%;
			z-index: 1;
			
		}
		.banner-tab-list  li:hover .overlay,
		.banner-tab-list  li.active .overlay
		{
			display: block; 
			background: rgba(0,0,0,0.4);
		}
		
		.banner-tab-list  li:hover .name,
		.banner-tab-list  li.active .name {
			color: #fff;
		}
		
		.banner-tab .clock,
		.banner-tab .dollar {
			position: absolute;
			top: 0;
			right: 0;
			background: url(../images/clock.png) no-repeat;
			z-index: 30;
			display:block;
			width: 48px;
			height: 41px; 
		}
		.banner-tab .dollar { background: url(../images/dollar.png) no-repeat; }
		
	
.content-lower-float-holder { margin-top: 10px; height: 396px;}	
/** SCROLLABLE STYLES **/
.phone-carousel-holder {
	height: 195px;
	width: 518px;
	position:relative;
	overflow:hidden;
	clear:both;
	background-color: #fdfbfb;
	border: 2px solid #ebeded;
	margin-bottom: 2px;
	
}

/* override single pane */
.phones div {
	z-index: 1;
	display:block;
	font-size:14px;
	background-color: transparent;
	width: 518px;
	height: 195px;
}
	.carousel { width: 518px; height: 198px;}
	.carousel .unhover img { width: 520px; }
	.phone-carousel-holder .next,
	.phone-carousel-holder .prev
	{
		width: 33px;
		height: 195px; 
		position: absolute; 
		top: 0; 
		right: 0; 
		z-index: 20;
		background: url('../images/carousel-right.png') no-repeat center center rgba(0,0,0,0.25);
		cursor: pointer;
	}
	
	.phone-carousel-holder .prev { left: 0; background: url('../images/carousel-left.png') no-repeat center center rgba(0,0,0,0.25);}

	
/* our additional wrapper element for the items */
.phones .items {

	width:20000em;
	position:absolute;
	clear:both;
	margin:0;
	padding:0;
	border:0;	
	height: 195px;
	float: left;
	
}
	.items div {
		width: 518px; 
		height: 195px; 
		float: left; 
	}
	
	.items div div{ 
		text-align: center; 
		float: left; 
		margin: 20px 1px 0 1px; 
		width: 101px; 
		height: 195px; 
	}
	
	.items div .title { 
		font-family: 'rbno2', 'verdana', 'arial';
		font-size: 15px; 
		color: #525252;
		margin-bottom: 12px;
		margin-top: 3px;
		text-transform: uppercase;
		font-size: 20px;
		height: 40px;
	}
	
	.items div .image {
		margin-top: 0;
	}

.phone-cat-list,
.tab-main-menu-list
{
	position: relative; 
	margin: 0;
	padding: 0; 
	color: #858585;
	border-bottom: 1px solid #f599a5;
	height: 55px;
}

	.phone-cat-list li,
	.tab-main-menu-list li
	{
		position: relative; 
		margin: 0; 
		float: left; 		
		padding: 15px 30px; 
		margin-right: 2px;
	}
	
	
	
		.phone-cat-list li a,
		.phone-cat-list li a:link,
		.phone-cat-list li a:visited,
		
		.tab-main-menu-list li a,
		.tab-main-menu-list li a:link,
		.tab-main-menu-list li a:visited		
		{
			display: block;			
			font-size: 18px;
			text-transform: uppercase; 
			color: #858585;
			text-decoration: none; 
			font-family: 'oswald', 'verdana', 'arial';
			
			
		}
		
	.phone-cat-list li:hover, 
	.phone-cat-list li.current,
	.phone-cat-list li.current:hover,
	
	.tab-main-menu-list li:hover, 
	.tab-main-menu-list li.current,
	.tab-main-menu-list li.current:hover
	{ background: #e6001d; }
	
	.phone-cat-list li:hover a,
	.phone-cat-list li:hover a:visited,
	
	.phone-cat-list li.current a,		.phone-cat-list li.current:hover a:visited,
	.phone-cat-list li.current:hover a,
	
	.tab-main-menu-list li:hover a,
	.tab-main-menu-list li:hover a:visited,
	
	.tab-main-menu-list li.current a,	
	.tab-main-menu-list li.current:hover a:visited,
	.tab-main-menu-list li.current:hover a
	{ color: #fff; }
	
	.acc-menu-list li { padding: 15px 20px; } /** OVERRIDES **/
	.acc-menu-list li a,
	.acc-menu-list li a:link,
	.acc-menu-list li a:visited {
		font-size: 17px;
	}	

.phone-brand-list {
	position: relative; 
	margin: 0;
	padding: 0; 
	color: #858585;	
	height: 55px;
}

	.phone-brand-list li {
		position: relative; 
		margin: 0; 
		float: left; 		
		padding: 12px 18px; 
		margin-right: 2px;
	}
	
	.phone-brand-list li a,
	.phone-brand-list li a:link,
	.phone-brand-list li a:visited
	

	
	{
		display: block;			
		font-size: 19px;
		text-transform: uppercase; 
		color: #858585;
		text-decoration: none; 
		font-family: 'rbno2', 'verdana', 'arial';
	}
	
	.phone-brand-list li:hover a,
	.phone-brand-list li:hover a:visited,
	
	.phone-brand-list li.selected a,
	.phone-brand-list li.selected a:link,
	.phone-brand-list li.selected a:visited,
	
	.phone-brand-list li.selected a,	
	.phone-brand-list li.selected:hover a:visited,
	.phone-brand-list li.selected:hover a,
	
	.phone-brand-list li a.selected
	{ color: #e6001d; }
	
.acc-content {
	position: relative; 
	width: 100%;
	height: auto; 
	margin: 0;
	padding: 20px 0;
}
	
	.acc-thumb-list { position: relative; margin: 0; padding: 0; list-style: none; }
		.acc-thumb-list li { 
			width: 378px; 
			height: 296px; 
			padding: 0; 
			margin: 0 0 20px 0;
			float: left; 
			overflow: none; 
		}
		
		.acc-thumb-list li.first	
		{ margin-right: 20px;}
	
			.acc-thumb-list li img { width: 378px; border: 1px solid #bbb;}

/** TAB STYLES **/
.tab-list li { padding-left: 25px; padding-right:25px; }
.tab .title { font-size: 24px;}
.tab-holder-div { margin: 10px; position: relative;}
.tab-list-holder { position: relative; height: auto;}
.tab ul.tab-list { 
	list-style: none; 
	position: relative; 
	padding: 0;
	margin: 20px 0 0 0;
	height: 210px;
}

.tab ul.tab-list > li {
	float: left; 
	width: 173px; 
	text-align: center;
	height: auto;
	padding: 0;
	position: relative;
}
	.tab ul.tab-list li .tab-img{
		padding: 13px 0;
		height: 88px;
		
		text-align: center;
		position: relative;
		vertical-align: bottom;
		
	}
		
		
		.tab ul.tab-list li .tab-img a  {
			width: 100%;
			left: 0;
			text-align: center;
			position: absolute;
			bottom: 7px;
		}
		
	ul.tab-list li .tab-img::after { content: "."; visibility: hidden; }
	.tab ul.tab-list li .tab-title {
		font-size: 19px;
		color: #525252;
		text-align: center;
	}
	.tab ul.tab-list li .tab-price,
	.tab-grand-total
	{ color: #e6001d; font-size: 23px; }
	.tab ul.tab-list li .tab-total-desc { text-align:center; color: #525252; text-transform: uppercase; font-size: 22px;}
	.tab ul.tab-list li .tab-total-sub-desc { text-align:center;  color: #525252; text-transform: uppercase; font-size: 15px;}
	.tab ul.tab-list li .tab-total { text-align:center; color: #e6001d; font-size: 28px; font-weight: bold; text-transform: uppercase; }

	.plan-lines { text-align: center; margin: 10px; }
	.start-calculate-btn,
	.calculate-total-btn {
		cursor: pointer;
		background: #525252;
		padding: 8px 10px;
		color: #fff;
		font-size: 15px;
		width: 130px;
		margin: 0 auto;
		font-family: 'oswald', 'tahoma', 'arial';
		text-transform: uppercase;
		
	}
	.calculate-total-btn { width: 145px;}
	.start-calculate-btn:hover,
	.calculate-total-btn:hover
	{ background: #E6001D; }
	
	.plan-steps li:hover,
	.plan-steps li:hover a,
	.plan-steps li:hover a:link,
	.plan-steps li:hover a:visited
	{ color: #858585; background: transparent; }

.tab ul.tab2-list {
	position: relative; 
	height: auto;
	min-height: 290px;
}
.tab ul.tab2-list > li { cursor: pointer; padding: 10px 0 5px 0;}
.tab ul.tab2-list li {
	 border: 2px solid #fff;
	 margin-right: 3px;
	 margin-bottom: 5px;
	 position: relative;
}
.tab ul.tab2-list li .tab-img { padding: 0; }
.tab ul.tab2-list li.selected,
.tab ul.tab2-list li.selected:hover 
 { background: #d9dada; border-color: #aeafaf; }
 
.tab ul.tab2-list li:hover
{ background: #f1f2f2; border: 2px solid #f1f2f2;  }
	 
	.tab ul.tab2-list a.close { 
		background: url(../images/close.png) 0 0 no-repeat;
		height: 19px;
		width: 18px;
		position: absolute;
		top: -8px;
		right: -7px;
		display: none;
		z-index: 20;
	}
	
	.tab ul.tab2-list li:hover .close { display: block;}
	
	.tab ul.tab2-list li#total_gb,
	.tab ul.tab2-list li#total_gb:hover
	{
		background: url(../images/total_gb_arrow.png) no-repeat left center;
		padding-left: 18px;
		color: #e6001d;
		font-family: 'rbno2', 'arial';
		font-size: 30px; 
		font-weight: bold;
		height: 90px;
		padding-top: 60px;
		border: none; 
		cursor: normal;
	}
	
.tab ul.tab3-list > li { margin-bottom: 40px;  }	
.tab ul.tab3-list li.plus,
.tab ul.tab3-list li.equals
 {
	padding: 0 10px; 
	height: 150px;
	width: 40px;
	background: url(../images/plus.png) no-repeat center center;
}

.tab ul.tab3-list li.equals { 
	background: url(../images/equals.png) no-repeat center center;
}

.tab ul.tab3-list li.tab-grand-total
 {
	width: auto; 
	padding-top: 40px;
	height: 135px;
	text-align: center;
	text-transform: uppercase; 
	
	font-family: 'rbno2', 'arial';
	font-size: 35px;
	font-weight: bold;
	padding: 30px 10px 0 20px;
}
/** SLIDER STYLES **/
.slider-div { position: relative; margin-top: 10px; }
.slider-title { font-size: 16px; }
.slider-title .title-main { font-size: 23px; }

/** ==> Email Sliders **/

	.slider-title-holder { position: relative; }
	.slider-title-holder .slider-amount {
		position: absolute; 
		z-index: 10;
		right: 140px;
		top: 7px;
		font-size: 30px;
		font-family: 'rbno2', 'tahoma', 'arial';
		color: #e6001d;
		font-weight: bold;
	}
	.slider-holder { 
		position: relative;
		width: 478px; 
		height: 45px; 
		background: #f7f7f7; 
		border: 2px solid #eaebeb;
		z-index:0;
		margin: 10px 0;
	}
	
	.slider-bar { /** + 100 + 5 ang offset **/
		background: #e6001d;
		width: 50px; 
		height: 45px;
		position: absolute;
		z-index:4;
		top: 0;
		left: 0;
	}
	.slider-texts {
		position: absolute;
		z-index:4;
		top: 0;
		left: 0;
		height: auto;
		width: auto;
		color: #525252;
		font-size: 21px; 
	}
		.slider-texts .marker {
			width: auto; 
			height: auto; 
			border: 1px solid transparent;
			background: transparent;
			margin-right: 43px; 
			margin-top: 6px;
			cursor: pointer;
			text-align: center;
			float: left; 
			font-size: 28px;
			padding: 0 10px;
			font-family: 'rbno2', 'tahoma', 'arial';
			
			-webkit-border-radius: 2px; 
			-moz-border-radius: 2px; 
			border-radius: 2px; 
		}
		
		.slider-texts .first{ margin-left: 10px; }
		.slider-texts .last{ margin-right: 0px; }
		
		.slider-texts .selected { background: #f7f7f7; border: 1px solid #e7e8e8;}


.foot-note { 
	color: #525252;
	font-style: italic; 
	font-size: 10px; 
	font-family: 'arial';
	margin: 20px 0; 
	clear: both;
}		

.content-footer {
	position: relative;
	text-align: center; 
	font-family: 'rbno2', 'arial';
	text-transform: uppercase; 
	font-size: 14px;
	clear: both;
	margin: 20px;
}

/** DATA CALCULATOR STYLES **/
a.dropdownLink {
	border : solid 1px #dadada;
	font-size : 14px;
	color :  #505050!important;
	text-decoration : none!important;
	background : #f1f2f2 url('../images/dropdown_background.gif') left bottom repeat-x;
	
	display : inline-block;
	vertical-align : center;
	padding : 3px 0 3px 0;
	text-decoration : none;
	
	margin-top: 20px;
}

a.dropdownLink:hover {
	text-decoration : none;
}
a.dropdownLink span {
	display : block;
	background : url('../images/dropdown_arrow.gif')right center no-repeat;
	padding : 0 26px 0 10px;
}
ul.dropdownMenu {
	-moz-box-shadow : 0 0 7px #d9d9d9;
	-webkit-box-shadow : 0 0 7px #d9d9d9;
	border : solid 1px #e5e5e5;
	padding : 5px 0 2px;
	z-index : 1001;
	background :  #fff;
	position : absolute;
	top : 162px;
	left: 63px; 
	margin : 0;
	
	 
}
ul.dropdownMenu li {
	list-style-type : none;
	padding : 0 5px 3px;
	margin : 0;
	text-align : left;
	font-size : 14px;
	line-height : 18px;
	width: auto;
	position: relative;
}
ul.dropdownMenu li a {
	color :  #333!important;
	text-decoration : none!important;
	display : block;
	padding : 5px 24px 5px 12px;
	vertical-align : middle;
	_position : relative;
	
}
ul.dropdownMenu li a:hover {
	background-color :  #efefef;
}
ul.dropdownMenu li a.selected {
	background-image : url('../images/dropdown_checkmark.gif');
	background-position : 1px center;
	background-repeat : no-repeat;
}
ul.dropdownMenu li a:focus {
	outline : dotted 1px #ccc;
}